/*
*= require bootstrap
*= require bootstrap-responsive
*= require font-awesome
*/
/****************Custom Stylez****************/
body {
	padding: 10px 0;
	background-image: url("../images/body-grad.png");
	background-repeat: repeat-x;
	background-color: #fff;
	overflow-x: hidden;
}
h1, h2, h3 {
	font-family: "Helvetica", "Arial", sans-serif;
}
.push-down {
	margin-top: 50px;
}

/***************** Headers *****************/
#header-top span {
	margin-right: 8%;
}
#header-top span a{
	display: block;
	margin: 10px;
	padding: 11px 34px;
}
#header-top h1 {
	font-size: 112px;
}
#header-top h2 {
	font-size: 72px;
	color: #0f7ba7;
	opacity:0.80;
	filter:alpha(opacity=80);
}
#header-top h1, h2 {
	line-height: 118px;
	margin: 0;
}
/***************** Landing Page *****************/
#landing {
	width: 564px;
	margin: auto;
	margin-top: 50px;
}
#landing > div.flip-container {
	float: left;
}

#cta {
	margin-top: 75px;
}
#cta h2 {
	line-height: 70px;
}
#cta img {
	margin-left: 5%;
	width: 88%;
}
#cta > div {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	position: relative;
}
#cta .btn {
	position: absolute;
	bottom: 5%;
	right: 10%;
}
#cta ul {
	width: 70%;
	margin: 10% 10%;
}
#cta .well {
	width: 80%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 41px;
}

#photostream {
	z-index: -10;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 476px;
	background-image: url("../images/photostream.jpg");
	background-position: 0 0;
	background-size: cover;
	opacity:0.15;
	filter:alpha(opacity=15);
}
/***************** Events *****************/
.events table {
	margin: auto;
	font-size: 45px;
}
.events th, .events td, .events table {
	border: 1px solid #ccc;
}
.events thead th{
	height: 55px;
}
.events th, .events td {
	height: 105px;
	width: 105px;
}
tr:first-child th {
	border-left: none;
	border-right: none;
}
.dayOfWeek {
	color: #555;
}
td.event1 a, td.event a {
	color: white;
	text-decoration: none;
}
td.event {
	background-color: #0f7ba7;
}
td.event1 {
	background-color: #6ac612;
}

#calendar {
	width: 735px;
	margin: auto;
	text-align: center;
	display: inherit;
	background-color: #f4f4f4;
	border: 1px solid #c9c9c9;
	padding: 25px;
	border-radius: 10px;
}

.legendCIS3, .legendEmployer {
	height: 25px;
	width: 25px;
	display: inline-block;
	border-radius: 100%;
	margin-top: 10px
}
.legendEmployer + p, .legendCIS3 + p {
	font-size: 14px;
}
.legendEmployer {
	background-color: #0f7ba7;
}
.legendCIS3 {
	background-color: #6ac612;
}

.events #blog {
	margin-top: 5%;
}

/***************** Blogs *****************/
.blog #blog {
	margin: 0;
	width: 80%;
}

#blog article {
	position: relative;
}
#blog article .author, #blog article .date {
	position: absolute;
	right: 20px;
}

#blog article .author {
	top: 47px;
}

#blog article .date {
	top: 30px;
}

#blog article p {
	font-size: 15px;
	margin: 14px;
	text-indent: 30px;
}

#blog article img {
	float: right;
	width: 300px;
	margin: auto;
}

#sidebar {
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	background-color:#f5f5f5;
	padding: 10px;
	padding-top: 21px;
	margin: 0;
	margin-top: 60px;
}
/***************** Contact *****************/
#contactInfo {
	width: 800px;
	margin: auto;
}
#contactInfo dl {
	width: 300px;
}
#contactInfo dt:after {
	content: ":";
}

#contactInfo dt {
	float: left;
	width: 90px;
}

#message {
	width: 99%;
	height: 300px;
	margin: auto;
}

.contact form {
	margin: 10px 0;
}

.contact .well {
	position: relative;
}

.contact form input[type=text]{
	width: 350px;
}
.contact form input[type=submit]{
	border-radius: 5px;
	background-color: #eee;
	margin-top: 10px;
	padding: 10px;
	font-size: 24px;
}

.captcha {
	position: absolute;
	top: 40px;
	right: 17px;
	border-radius: 10px;
}

.spacer {
	height: 20px;
}

/***************** Team *****************/

.round {
	border-radius: 100%;
}

.team img {
	margin-right: 20px;
	padding-bottom: 30px;
}

.team p {
	font-size: 16px;
	line-height: 22px;
	text-indent: 40px;
}

/******************Single Blog Page******************/
.breadcrumb {
	width: 207px;
}
.breadcrumb a {
	display: block;
}

.breadcrumb img {
	float: left;
	display: inline-block;
}

.breadcrumb p {
	margin-top: 16px;
}

article.information img {
	margin: 15px;
	margin-top: 0;
}

/************************Single Event************************/
.eventInfo em {
	color: #dd4814;
	font-style: normal;
}

/************************Jobs************************/
.jobTile {
	width: 350px;
	margin: 5px;
}

.jobs .well {
	padding: 10px;
}

.jobTile {
	min-height: 350px;
	max-height: 350px;
	overflow: hidden;
}

.jobTile img {
	margin: 10px;
}

/************************Info************************/
#infoNav {
	width: 525px;
}


/******************3d Flip Animation******************/
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	margin: 3px;
	border: 1px solid #ddd;
}

.flip-container, .flip-container * {
	border-radius: 5px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 180px;
	height: 180px;
	text-align: center;
}

.flipper {
	-webkit-transition: 0.4s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.4s;
	-moz-transform-style: preserve-3d;

	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
	font-size: 24px;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	line-height: 180px;
	background: #eee;
}

.front:hover {
	text-decoration: none;
}

.back {
	background: #444;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	line-height: 205px;
	color: white;
	font-size: 14px;
}

/***************** Info 3-d Flippers *****************/
.info .flip-container{
    float: right;
}
.info .flip-container, .info .front, .info .back  {
    width: 250px;
    height: 250px;
}

.info .front {
	line-height: 250px;
}
.info .front span {
	display: block;
	padding: 5px;
}
.info .back {
	line-height: 300px;
	font-size: 24px;
}
/*************Tablet / Smaller Desktop****************/
@media (max-width: 1200px) {
	#infoNav, #infoPic {
		float: none;
		margin: auto;
	}
	#infoPic {
		width: 475px;
	}
	#infoPic img {
		display: none;
	}
	.index img {
		width: 80%;
	}
	table {
		font-size: 30px;
	}
}

/*****************Tablet and Larger*******************/
@media (max-width: 979px) and (min-width: 768px) {
	#cta h2 {
		font-size: 28px;
	}
	}
	/*Larger*/
	@media (max-width: 979px) {
	#photostream {
		display: none;
	}
	#calendar {
		display: none;
	}
	}
	/*Smaller*/
	@media (min-width: 768px) {
	#cta > div {
		min-height: 440px;
	} 
}	

/******** Landscape Phone / Portrait Tablet **********/
@media (max-width: 767px) {

	.blog #blog {
		width: 100%;
		margin-top: 20px;
	}
	#sidebar {
		margin: 0;
	}
	.flip-container, .front, .back {
		width: 130px;
		height: 130px;
	}

	#landing {
		width: 420px;
	}

	.front {
		line-height: 130px;
		font-size: 20px;
	}
	.back {
		line-height: 150px;
		font-size: 10px;
	}
	#cta img {
		margin: 0;
		width: 80%;
	}

	#cta .btn {
		width: 75%;
		margin: 15px;
	}

	#cta ul {
		width: 75%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#cta > div.span4 {
		margin-bottom: 25px;
		text-align: center;
	}

	#cta > div.span4, #cta .btn {
		position: inherit;
	}

	#blog article h1 {
		font-size: 28px
	}

}


/**********************Info Menu************************/
@media (max-width: 550px) {
	#infoNav {
		width: 100%;
		text-align: center;
	}
	.info .flip-container {
		float: none;
		display: inline-block;
	}
	.info .flip-container, .info .front, .info .back {
		width: 180px;
		height: 50px;
	}

	.info .front {
		line-height: 50px;
		font-size: 18px;
		font-weight: bolder;
	}
	.info .back {
		line-height: 70px;
		font-size: 8px;
	}
}

/**********************Phone************************/
@media (max-width: 480px) {
	#blog article img {
		float: none;
		margin-top: 10px;
	}
	#blog article .author, #blog article .date {
		position: static;
		display: block;
	}
	#header-top > span{
		margin: 0;
	}
	#header-top * {
		float:none;
		text-align: center;
	}

	.flip-container, .front, .back {
		width: 130px;
		height: 50px;
	}

	.front {
		line-height: 50px;
		font-size: 20px;
	}
	.back {
		line-height: 70px;
		font-size: 8px;
	}

	#landing {
		width: 276px;
		margin: auto;
		margin-top: 50px;
	}

	#cta > div.span4 {
		margin-bottom: 25px;
	}
	#cta > div.span4, #cta .btn {
		position: inherit;
	}

}