/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require font-awesome
 */
 /****************Custom Stylez****************/
 body {
 	padding: 10px 0;
 	background-image: url("../images/body-grad.png");
 }
 h1, h2, h3 {
 	font-family: "Helvetica", "Arial", sans-serif;
 }
 p {
 	font-family: 'Droid Sans Mono', sans-serif;
 }

 .push-down {
 	margin-top: 50px;
 }

 #header-top span {
 	margin-right: 8%;
 }
 #header-top span a{
 	display: block;
 	margin: 10px;
 	padding: 11px 34px;
 }
 #header-top h1 {
 	font-size: 112px;
 	line-height: 118px;
 	margin: 0;
 }

#landing {
	width: 564px;
	margin: auto;
	margin-top: 50px;
}
#landing > div.flip-container {
	float: left;
}

#cta {
	margin-top: 75px;
}
#cta img {
margin-left: 10%;
}
#cta > div {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	position: relative;
}
#cta .btn {
	position: absolute;
	bottom: 5%;
	right: 10%;
}
#cta ul {
	margin-top: 10%;
}

#photostream {
	z-index: -10;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 476px;
	background-image: url("../images/photostream.jpg");
	background-position: 1000px -500px;
	opacity:0.04;
	filter:alpha(opacity=4);
}
/******************3d Flip Animation******************/
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	margin: 3px;
	border: 1px solid #ddd;
}

.flip-container, .flip-container * {
	border-radius: 5px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 180px;
	height: 180px;
	text-align: center;
}

.flipper {
	-webkit-transition: 0.4s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.4s;
	-moz-transform-style: preserve-3d;

	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
	font-size: 24px;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	line-height: 180px;
	background: #eee;
}

.front:hover {
	text-decoration: none;
}

.back {
	background: #444;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	line-height: 205px;
	color: white;
	font-size: 14px;
}

.back:hover, .back:focus {
	color: white;
}
/*************Tablet / Smaller Desktop****************/
@media (max-width: 1200px) {
	img {
		width: 80%;
	}
}

/*****************Tablet and Larger*******************/
@media (max-width: 979px) and (min-width: 768px) {
	#cta h2 {
		font-size: 28px;
	}
	#cta ul {
		width: 80%;
	}
}
	/*Larger*/
@media (max-width: 979px) {
	#photostream {
		display: none;
	}
}
	/*Smaller*/
@media (min-width: 768px) {
	#cta > div {
		min-height: 440px;
	} 
}	

/******** Landscape Phone / Portrait Tablet **********/
@media (max-width: 767px) {
	.flip-container, .front, .back {
		width: 130px;
		height: 130px;
	}

	#landing {
		width: 420px;
	}

	.front {
		line-height: 130px;
		font-size: 20px;
	}
	.back {
		line-height: 150px;
		font-size: 10px;
	}
	#cta img {
		margin: 0;
		width: 80%;
	}

	#cta .btn {
		width: 75%;
		margin: 15px;
	}

	#cta ul {
		width: 75%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#cta > div.span4 {
		margin-bottom: 25px;
		text-align: center;
	}

	#cta > div.span4, #cta .btn {
		position: inherit;
	}

}
/**********************Phone************************/
@media (max-width: 480px) {

	#header-top > span{
		margin: 0;
	}
	#header-top * {
		float:none;
		text-align: center;
	}

	.flip-container, .front, .back {
		width: 130px;
		height: 50px;
	}

	#landing {
		width: 276px;
		margin: auto;
		margin-top: 50px;
	}

	.front {
		line-height: 50px;
		font-size: 20px;
	}
	.back {
		line-height: 70px;
		font-size: 8px;
	}
	#cta > div.span4 {
		margin-bottom: 25px;
	}
	#cta > div.span4, #cta .btn {
		position: inherit;
	}

}