<div style="height: 100px;"></div>
<div class="well" style="width: 40%; margin: auto;">
	<h1>Login</h1>
	<label for="user" class="pull-left" style="width: 80px; line-height: 28px;">Username:</label>
	<input type="text" style="width: 320px;"/>
	<div class="clearfix"></div>
	<label for="pass" class="pull-left" style="width: 80px; line-height: 28px;">Password:</label>
	<input type="text" style="width: 320px;" />
	<div class="clearfix spacer"></div>
	<a href="/admin" class="btn btn-primary btn-large pull-right">Submit</a>
	<div class="clearfix"></div>
</div>