<% content_for :assets do %>
	<%= javascript_include_tag 'jquery-validate' %>
	<%= javascript_include_tag 'validate' %>
<% end %>
<div style="height: 100px;"></div>
<form action="/admin" class="well" style="width: 40%; margin: auto;">
	<h1>Login</h1>
	<label for="user" class="pull-left" style="width: 80px; line-height: 28px;">Username:</label>
	<input type="text" id="user" data-required style="width: 320px;"/>
	<div class="clearfix"></div>
	<label for="pass" class="pull-left" style="width: 80px; line-height: 28px;">Password:</label>
	<input type="text" id="pass" data-required style="width: 320px;" />
	<div class="clearfix spacer"></div>
	<input type="submit" class="btn btn-primary btn-large pull-right">
	<div class="clearfix"></div>
</form>