<% content_for :assets do %>
	<%= javascript_include_tag 'jquery-validate' %>
	<%= javascript_include_tag 'validate' %>
<% end %>
<div style="height: 100px;"></div>
<form action="/admin" class="well" style="width: 40%; margin: auto;">
	<h1>Register</h1>
	<label for="user" class="pull-left" style="width: 100px; line-height: 28px;">Username:</label>
	<input type="text" data-required style="width: 320px;" id="user" />
	<div class="clearfix"></div>
	<label for="email" class="pull-left" style="width: 100px; line-height: 28px;">Email:</label>
	<input type="text" data-required style="width: 320px;" id="email"/>
	<div class="clearfix"></div>
	<label for="pass" class="pull-left" style="width: 100px; line-height: 28px;">Password:</label>
	<input type="text" data-required style="width: 320px;" id="pass" />
	<div class="clearfix"></div>
	<label for="repeat" class="pull-left" style="width: 100px; line-height: 28px;">Repeat PW:</label>
	<input type="text" data-required style="width: 320px;" id="repeat" />
	<div class="clearfix"></div>
	<label for="news" class="pull-left" style="width: 100px; line-height: 28px;">Newsletter?</label>
	<input type="checkbox" checked=true id="news" />
	<div class="clearfix spacer"></div>

	<input type="submit" class="btn btn-primary btn-large pull-right">
	<div class="clearfix"></div>
</form>