<h1>Send New Mailing List Mesage</h1>
<label class="pull-left" for="subject">Subject</label><input id="subject" style="margin-left: 10px" type="text" />
<div class="clearfix"></div>
<label for="body">Body</label>
<textarea style="width: 75%; height: 300px;"></textarea>
<div class="clearfix spacer"></div>
<a href="/admin/manage/mail.html" class="btn btn-primary btn-large">Send</a>