---
layout: main
title: Blog
---
<%= partial "partials/sidebar" %>
<div id="blog" class="span10 pull-left">
<h3>Recent Entries</h3>
<% data.blog.each do |post| %>
	<%= partial "partials/post", :locals => {:post => post} %>
<% end %>
<% for i in 1..2 %>
	<%= partial "partials/post" %>
<% end %>
</div>