---
layout: main
title: Blog
---
<div id="sidebar" class="span2 pull-right">
	<h4>By Date</h4>
	<ul>
		<li><a href="#">2013</a>
			<ul>
				<li><a href="#">Jan</a></li>
				<li><a href="#">Feb</a></li>
				<li><a href="#">Mar</a></li>
				<li><a href="#">Apr</a></li>
			</ul>
		</li>
		<li><a href="#">2012</a></li>
		<li><a href="#">2011</a></li>
	</ul>
	<h4>By Category</h4>
	<ul>
		<li><a href="#">Info</a></li>
		<li><a href="#">Event</a></li>
		<li><a href="#">Student</a></li>
	</ul>
	<h4>Popular Posts</h4>
	<ul>
		<li><a href="#">Agrium Job</a></li>
		<li><a href="#">LAN Party</a></li>
		<li><a href="#">Wow! Fun time event place!</a></li>
	</ul>
</div>
<div id="blog" class="span10 pull-left">
<h3>Recent Entries</h3>
<% for i in 1..5 %>
	<%= partial "partials/post" %>
<% end %>
</div>