---
layout: main
title: Contact
---
<h3>Contact Us</h3>
<iframe class="thumbnail offset1" width="875" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SAMRU&amp;aq=&amp;sll=51.009921,-114.12735&amp;sspn=0.042069,0.0842&amp;ie=UTF8&amp;hq=SAMRU&amp;hnear=&amp;t=m&amp;ll=51.011622,-114.132414&amp;spn=0.00945,0.030041&amp;z=15&amp;output=embed"></iframe>
<div id="contactInfo">
	<dl class="pull-left">
		<dt>Address</dt>
		<dd>123 Mt Royal Gate</dd>
		<dt>Phone</dt>
		<dd>(403) 555 5555</dd>
		<dt>Email</dt>
		<dd><a href="mailto:info@cis3.org">info@cis3.org</a></dd>
	</dl>
	<dl class="pull-right">
		<dt>Facebook</dt>
		<dd><a href="#">facebook.com/cis3</a></dd>
		<dt>Google+</dt>
		<dd><a href="#">plus.google.com/cis3</a></dd>
		<dt>Twitter</dt>
		<dd><a href="#">twitter.com/cis3</a></dd>
	</dl>
	<div class="clearfix"></div>
</div>
<div class="well">
	<h4>Send Us an Email!</h4>
	<fieldset>
		<form>
			<label for="name">Name</label>
			<input id="name" />
			<label for="subject">Subject</label>
			<input id="subject" />
			<label for="message">Message</label>
			<textarea id="message"></textarea>
			<input type="submit" value="Send" />
		</form>
	</fieldset>
</div>