---
layout: main
title: Events
---
<div id="calendar">
	<%= partial "partials/calendar" %>
</div>
<div id="blog">
<h3>Recent Events</h3>
<% data.events.each do |post| %>
	<%= partial "partials/post", :locals => {:post => post} %>
<% end %>
<% for i in 1..2 %>
	<%= partial "partials/post" %>
<% end %>
</div>