---
layout: main
title: Events
---
<div id="calendar">
	<%= partial "partials/calendar" %>
</div>
<div id="blog">
<h3>Recent Events</h3>
<% for i in 1..5 %>
	<%= partial "partials/post" %>
<% end %>
</div>