---
title: Home
photostream: true
js: 'landing'
---
<hr/>
<nav id="landing">
	<% data.site.top_level_pages.each do |page| %>
		<%= partial("partials/nav_item", :locals => {:nav => page}) %>
	<% end %>
	<div class="clearfix"></div>
</nav>
<hr class="push-down"/>
<div class="row-fluid" id="cta">
	<div class="span4">
		<h2 class="text-center">Some thing.</h2>
		<img class="thumbnail" src="http://placehold.it/300x200" />
		<div class="well">
			<ul class="text-left">
				<li>Something awesome about the thing</li>
				<li>A thing which is even more awesome</li>
				<li>Something else awesome</li>
			</ul>
		</div>
		<a class="btn btn-primary btn-large">CTA</a>
	</div>
	<div class="span4">
		<h2 class="text-center">Another thing.</h2>
		<img class="thumbnail" src="http://placehold.it/300x200" />
		<div class="well">
			<ul class="text-left">
				<li>Something awesome about the thing</li>
				<li>A thing which is even more awesome</li>
				<li>Something else awesome</li>
			</ul>
		</div>
		<a class="btn btn-primary btn-large">CTA</a>
	</div>
	<div class="span4">
		<h2 class="text-center">Not a thing.</h2>
		<img class="thumbnail" src="http://placehold.it/300x200" />
		<div class="well">
			<ul class="text-left">
				<li>Something awesome about the thing</li>
				<li>A thing which is even more awesome</li>
				<li>Something else awesome</li>
			</ul>
		</div>
		<a class="btn btn-primary btn-large">CTA</a>
	</div>
</div>